body, html{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgrey;
}

.topnav {
    background-color: black;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .Headerimage{
    max-width: 100%;
    height: auto;
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
       
  }

  .paragraph1{
    max-width: 100%;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    color: white;
    background-color: black;
  }

  .whitebox{
    max-width: 100%;
    height: auto;
      z-index: 0;
      background-color: white;
      color: white;
      padding: 300px;
  }
  #thing1{
    max-width: 100%;
    height: auto;
      z-index: 1;
      display: block;
      padding: 100px;
      color: black;
      background-color: black;
      
  }

  #bamboo{
    max-width: 100%;
      height: auto;
      position: absolute;
     bottom: 0px;
     right: 100px;
  }

  #lilly{
    max-width: 100%;
    height: auto;
      position: absolute;
      bottom : 0px;
      right :400px;
  }
 
  #cactus{
      max-width: 100%;
      height: auto;
    position: absolute;
    bottom : 0px;
    right :1000px;
}

